/*   global styles  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
ul,
ol {
  list-style: none;
}
:root {
  --g: #0b9586;
  --w: #fff;
  --b: #000;
  --o: #ffbb1c;
  --h: #2a3334;
  --lg: #84bd3a;
}
.continer {
  width: 80%;
  margin: auto;
}
/* header section  */
header {
  background-color: var(--g);
  width: 100vw;
  height: 86px;
  position: relative;
  z-index: 50;
}
.headerContiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.logo img {
  width: 157px;
  height: 54px;
  mix-blend-mode: multiply;
}
nav ul {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
nav ul li a {
  padding: 8px 28px;
  font-weight: 400;
  font-size: 18px;
  color: var(--w);
}
ul li a.active {
  background: #0000000f;
  border-bottom: 3px solid rgb(0, 0, 0, 0.3);
  border-radius: 1px;
}
.contact {
  color: var(--w);
  text-align: right;
}

.contact p {
  font-weight: 400;
  font-size: 18px;
}
.contact h3 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.94px;
}

/* hero section */
main {
  width: 100vw;
  height: 650px;
}
main::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(./images/hero.jpg);
  background-size: cover;
  background-position: center;
  transform: scaleX(-1);
  background-repeat: no-repeat;
  z-index: 1;
}
main::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.26);
  z-index: 2;
}
main > * {
  position: relative;
  z-index: 3;
}
.progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 333px;
  height: 25px;
  color: var(--w);
}
.mainContiner {
  padding-top: 80px;
}
.longBar {
  width: 220px;
  border: 3.75px solid #575757;
  height: 0;
  position: relative;
}
.shortBar {
  width: 89px;
  border: 3.75px solid var(--w);
  height: 0;
  position: absolute;
  top: -3.75px;
  left: -3.75px;
}
.progress p {
  font-weight: 400;
  font-size: 18px;
}
.minText {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 70px;
  width: 95%;
  max-width: 729px;
}
.minText h2 {
  font-weight: 600;
  font-size: 52px;
  color: var(--w);
}
.minText p {
  font-weight: 600;
  font-size: 20px;
  color: var(--w);
  line-height: 30px;
}
.mainButton {
  display: flex;
  gap: 24px;
  width: 95%;
  max-width: 405px;
}
.mainButton .but {
  text-align: center;
  height: 41px;
  padding: 12px 34px;
  border-radius: 109px;
  letter-spacing: 8%;
  font-size: 14px;
  font-weight: 400;
}
.mainButton .but.button1 {
  background-color: var(--g);
  color: var(--w);
  width: 173px;
}
.mainButton .button2 {
  background-color: var(--o);
  color: var(--h);
  width: 208px;
}

/* about secton  */
.about {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding-top: 80px;
}
.aboutContiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .aboutText,
  .aboutImage {
    width: 50%;
    height: 100%;
  }
  .aboutImage {
    padding-top: 70px;
    justify-content: right;
    display: flex;
    .aboutImageContienr {
      background-image: url(./images/about1.png);
      background-size: cover;
      background-position: center;
      width: 470px;
      height: 550px;
      border-radius: 12px;
      position: relative;
      .aboutSmalImage {
        position: absolute;
        width: 270px;
        height: 210px;
        border-radius: 12px;
        z-index: 2;
        background-image: url(./images/about2.jfif);
        background-size: cover;
        background-position: center;
        bottom: 12px;
        left: -54px;
      }
    }
  }

  .aboutText {
    .div1 {
      display: flex;
      flex-direction: column;
      gap: 24px;
      h2 {
        max-width: 600px;
        width: 90%;
        font-size: 42px;
        letter-spacing: -2%;
        font-weight: 600;
        color: var(--h);
      }
      p {
        color: #475467;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        max-width: 600px;
        width: 90%;
      }
      div {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
          font-size: 20px;
          font-weight: 600;
          line-height: 30px;
          color: var(--h);
          span {
            color: var(--lg);
            font-weight: 700;
            letter-spacing: 4px;
            width: 35px;
          }
        }
      }
    }
  }
}

/*  contact secton  */
.contactSection {
  margin-top: 60px;
  width: 100vw;
  height: auto;
  min-height: 70vh;
  background-image: url(./images/contact.png);
  background-size: cover;
  background-position: center;
  .contactContiner {
    display: flex;
    margin-left: 10%;
    color: var(--w);
    justify-items: center;
    max-width: 700px;
    height: 100%;
    .div1 {
      flex-direction: column;
      display: flex;
      height: 212px;
      width: 100%;
      gap: 35px;
      padding-top: 150px;

      h2 {
        font-size: 42px;
        font-weight: 600;
        letter-spacing: -2%;
        width: 100%;
      }
      p {
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
      }
      div {
        color: var(--h);
        background-color: var(--o);
        width: 175px;
        height: 41px;
        padding: 12px 34px;
        border-radius: 109px;
      }
    }
  }
}

/* sloler Kits section  */
.slolerKits {
  width: 100vw;
  height: fit-content;
  padding: 100px 0 130px 0;
}
.continer {
  .top {
    text-align: center;
    width: 100%;
    max-width: 940px;
    margin: auto;
    h2 {
      font-weight: 600;
      font-size: 42px;
      letter-spacing: -2%;
      color: var(--h);
    }
    p {
      padding-block: 20px;
      color: #475467;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
  .cards {
    margin: auto;
    width: 100%;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    padding-block: 40px;
    .card {
      height: 100%;
      /* width: 360px; */
      width: 100%;
      background-color: var(--w);
      box-shadow: 0px 4px 30px 0px #0000000d;
      .image {
        width: 100%;
        height: 240px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .image.im1 {
        background-image: url(./images/card1.png);
      }
      .image.im2 {
        background-image: url(./images/card2.png);
      }
      .image.im3 {
        background-image: url(./images/card3.png);
      }
      .content {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        h3 {
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
          color: var(--h);
        }
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #475467;
        }
        a {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: var(--g);
        }
        a:hover {
          color: blueviolet;
        }
      }
    }
  }
}

/* repares section */
.repares {
  height: 500px;
  background-image: url("./images/arratch.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.57);
  color: var(--w);
  width: 90%;
  max-width: 858px;
  text-align: center;
  backdrop-filter: blur(24px);
  height: auto;
  min-height: 311;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  opacity: 1;
  gap: 32px;
  padding: 44px;
  h2 {
    font-weight: 600;
    font-size: 42px;
    letter-spacing: -2%;
  }
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
  }
}

/* energy-section  */

.energy-section {
  width: 100vw;
  height: auto;
  background: #ffbb1c0d;
  padding: 50px 0;
  .continer-energy-section {
    display: flex;
    gap: 35px;
    justify-content: space-between;
    .left {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 32%;
      height: 100%;
      .icon {
        width: 56px;
        height: 56px;
        border-radius: 10px;
        opacity: 1;
        border-width: 21px;
        background: #3cab90;
        border: 1px solid #3cab9026;
        color: var(--w);
        font-size: 28px;
        justify-content: center;
        align-items: center;
        display: flex;
      }
      h2 {
        font-weight: 600;
        font-size: 42px;
        line-height: 100%;
        letter-spacing: -2%;
        color: var(--h);
      }
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        max-width: 360px;
        color: #475467;
      }
    }
    .cards {
      width: 60%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      /* gap: 32px !important; */
      .card {
        max-width: 358px;
        height: fit-content;
        border-radius: 12px;
        opacity: 1;
        gap: 32px;
        border-width: 1px;
        padding: 24px;
        border: 1px solid var(--g);
        box-shadow: 0px 4px 30px 0px #0000000d;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .card-img {
          background-image: url(./images/card4.jpg);
          background-position: center;
          background-size: cover;
          max-width: 310px;
          height: 106px;
          border-radius: 10px;
          padding: 10px;
          background: #3cab9026;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 225px;
            height: 50px;
            mix-blend-mode: Luminosity;
          }
        }
        h3 {
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
          color: var(--h);
          padding-top: 20px;
        }
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #475467;
          span {
            font-weight: 400;
            font-size: 16px;
            text-decoration: underline;
            text-decoration-style: solid;
          }
        }
        a {
          font-weight: 600;
          font-size: 16px;
          color: var(--g);
          i {
            padding-left: 8px;
          }
        }
      }
    }
  }
}

/* ===============rspossive================= */

/* xxl */
@media (max-width: 1350px) {
  .continer-energy-section {
    flex-direction: column;
  }
  .left,
  .cards {
    width: 100% !important;
    margin: auto !important;
  }
}
/*  xl screan  */
@media (max-width: 1200px) {
  /* global */
  .continer {
    width: 90%;
  }
  /* header */
  nav ul {
    gap: 3px;
  }

  /* about  */
  .about {
    padding-top: 0px;
  }
  .aboutContiner {
    flex-direction: column-reverse;
    .aboutText,
    .aboutImage {
      width: 90%;
      height: 100%;
      justify-content: center;
      margin: auto;
      .aboutImageContienr {
        width: 90%;
      }
    }
    .aboutText {
      width: 100%;
      padding-top: 60px;
      .div1 {
        h2,
        p {
          max-width: 900px;
        }
      }
    }
  }
}

/* lg screan  */
@media (max-width: 1024px) {
  /* header */
  nav ul {
    display: none;
  }
  /* contact section */
  .contactContiner {
    .div1 {
      padding-top: 110px !important;
    }
  }
  .cards {
    grid-template-columns: 1fr 1fr !important;
    gap: 32px;
    height: fit-content !important;
  }
}

/* md screan */
@media (max-width: 800px) {
  .progress {
    width: 280px;
  }
  .longBar {
    width: 180px;
  }
  .minText {
    margin-top: 60px;
    h2 {
      font-size: 40px;
    }
    p {
      font-size: 17px;
      line-height: 20px;
      font-weight: 400;
    }
  }

  /* contact section */
  .contactContiner {
    .div1 {
      padding-top: 80px !important;
    }
  }
  /* repares section */
  .repares {
    height: 90vh !important;
    .overlay {
      padding: 30px;
      h2 {
        font-size: 33px !important;
      }
      p {
        font-size: 16px !important;
      }
    }
  }
}
/* sm screan  */

@media (max-width: 640px) {
  /* global */
  .continer {
    width: 90%;
  }

  /* header */
  header {
    height: 70px;
  }
  .logo img {
    width: 127px;
    height: 44px;
  }
  .contact p {
    font-size: 16px;
  }
  .contact h3 {
    font-size: 19px;
    letter-spacing: 0.8px;
  }
  .minText {
    h2 {
      font-size: 50px;
    }
  }
  .mainButton .but {
    padding: 12px 15px;
  }

  /* about section  */
  .aboutText,
  .aboutImage {
    width: 100%;
    .aboutImageContienr {
      width: 90%;
    }
  }
  .aboutImageContienr {
    height: 350px !important;
  }
  .aboutSmalImage {
    width: 130px !important;
    height: 100px !important;
    background-color: var(--o);
    bottom: 5px !important;
    left: -24px !important;
  }
  .aboutText .div1 {
    gap: 10px !important;
    h2 {
      font-size: 40px !important;
    }
    p {
      line-height: 20px !important;
      font-size: 13px !important;
    }
    div p {
      font-size: 13px !important;
    }
  }
  /* contact section */
  .contactContiner {
    .div1 {
      padding-top: 50px !important;
    }
  }
  .cards {
    grid-template-columns: 1fr !important;
    gap: 32px;
  }

  /* repares section */
  .overlay {
    padding: 25px !important;
  }
}
